
body {
    margin: 0;
}

#menu ul{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.39);
    list-style: none;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    padding: 5px 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover{
    color: rgb(83, 83, 83);
}
